<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Jardín</title>
    <style>
        body {
            text-align: center;
            font-family: sans-serif;
            background-color: #e0f7fa;
        }

        .flower {
            font-size: 32px;
            display: inline-block;
            margin: 5px;
        }

        progress {
            width: 60%;
            height: 25px;
            margin-top: 20px;
        }
    </style>
</head>
<body>

<h1>🌼 Tu Jardín 🌼</h1>
<h2>Una flor cada 5 horas</h2>


<!-- FLORES -->
<div>
    <span th:each="flor : ${flores}" class="flower" th:text="${flor}"></span>
</div>

<!-- BARRA DE PROGRESO Y MENSAJE -->
<div>
    <h3 th:if="${floresActuales < totalFlores}">
        Faltan <span th:text="${totalFlores - floresActuales}"></span> flores para volver a vernos.
    </h3>

    <h3 th:if="${floresActuales = totalFlores}">
        ¡Ya florecieron todas! Ahí estaremos de nuevo juntitos. 💖
    </h3>

    <progress th:if="${floresActuales != null and totalFlores != null}"
          th:attr="value=${floresActuales}, max=${totalFlores}"> </progress>

</div>

<h3>Te amo</h3>

</body>
</html>
