<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Jardín</title>
    <style>
        body {
            text-align: center;
            font-family: sans-serif;
            background-color: #e0f7fa;
        }
        .flower {
            font-size: 32px;
            display: inline-block;
            margin: 5px;
        }
    </style>
</head>
<body>
<h1>🌼 Tu Jardín 🌼</h1>
<h2>Una flor cada 5 horas</h2>
<h3>Te amo</h3>
<div>
    <span th:each="flor : ${flores}" class="flower" th:text="${flor}"></span>
</div>
<h3>Cuando hayan florecido 14 flores, ahí estaremos de nuevo juntitos.</h3>
</body>
</html>
